{
    "abv_accounts": {
        "user1": "pass1",
        "user2": "pass2"
    },
    
    "qlranks_players": [
        "strenx", "stermy", "k1llsen", 
        "agent", "fraze", "cypher",
        "dahang", "rapha", "evil", "cooller", 
        "bunnye"
    ],
    
    "twitch_streams": [
        "zlive",
        "fjjjjjjj",
        "kronic_ie",
        "strenx",
        {
            "name": "njw0819",
            "comment": "aka lucifer"
        },
        "cypheronline",
        "fazz",
        "k1llsen_",
        "med1xza",
        "voogamer",
        "kudochop",
        "hal_9"
    ],
    
    "hitbox_streams": [
        "kudochoptv", 
        "kudochop"
    ]
}